/*=========================================
                Générique
=========================================*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: inherit;
}

/*=========================================
                Éléments
=========================================*/

/*-------------- Base -------------------*/
body{
    font-size: 1.6rem;
}
.wrapper{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
p{
    margin: 0;
}

/*=========================================
                Composantes
========================================*/

/*-------------- Header --------------*/
header{
    text-align: center;
    background-color: #34495E;
    padding: 60px 165px;
}
h1{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal; 
    font-size: 9.6rem;
    letter-spacing: 45px;
    color: #FFFFFF;

    margin: 0;
}

/*----------Section slogan------------*/
h2{
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4.8rem;
    letter-spacing: 7px;
}

/*-----------Section règles-----------*/
.regles{
    row-gap: 40px;
}
article p{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3.6rem;
}

.guillemets, .espace, .windows, .line-height{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guillemets{
    padding-left: 50px;
    padding-right: 200px;
}
.espace{
    padding-left: 200px;
    padding-right: 50px;
}
.windows{
    padding-left: 50px;
    padding-right: 200px;
}
.line-height{
    padding-left: 200px;
    padding-right: 50px;
}
.rond1, .rond2, .rond3, .rond4{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3.0rem;

    background-color: #FFFFFF;
    color: #D35400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 210px;
    border: 5px solid #D35400;
    border-radius: 50%


}
.espace{
    background-color: #BDC3C7;
}

/*-----------Section infos----------*/
.infos .wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}
.gauche, .droite{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.0rem;
    line-height: 25px;
}