/*=========================================
                Générique
=========================================*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: inherit;
}

/*=========================================
                Éléments
=========================================*/

/*-------------- Base -------------------*/
body{
    font-size: 1.6rem;
}
.wrapper{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/*=========================================
                Composantes
========================================*/

/*-------------- Header --------------*/
header{
    text-align: center;
    background-color: #34495E;
    padding: 60px 165px;
}
h1{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal; 
    font-size: 9.6rem;
    letter-spacing: 45px;
    color: #FFFFFF;

    margin: 0;
}

/*----------Section slogan------------*/
h2{
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4.8rem;
    letter-spacing: 7px;
}

/*-----------Section règles-----------*/
article p{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3.6rem;
}

.guillemets, .espace, .windows, .line-height{
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rond1, .rond2, .rond3, .rond4{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3.0rem;

    background-color: #FFFFFF;
    color: #D35400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 210px;
    border: 5px solid #D35400;
    border-radius: 50%


}
.espace{
    background-color: #BDC3C7;
}